#ExperimentPage {
    position: relative;
    width: 100vw;
    height: 80vh;
    padding-top: 20vh;
    overflow: hidden;
}

#ExperimentPage .title {
    width: 40%;
    text-align: justify;
    margin-left: 5vw;
    background-color: rgb(255, 255, 255);
    border: 2.4px solid rgb(0, 0, 0);
    padding: 1.5%;
    font-weight: 550;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}

@media (max-width: 768px) {
    #ExperimentPage {
        padding-top: 15vh;
        height: 200vh;
    }

    #ExperimentPage .title {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1rem;
        padding: 5%;
        text-align: left;
    }
}